.container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.menu.reverse {
  flex-direction: row-reverse;
}

.section {
}

.section.others {
  display: flex;
  flex-direction: column;
}

.section .blue {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section .orange {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section .purple {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.item-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  flex: 1;
}

/* 이하 테마 스타일 영역 */

.r5_cocktails .menu {
  border: #3f552c solid 1px;
  border-left: #3f552c solid 15px;
}

.r5_cocktails .menu .item-name {
  margin-top: 10px;
}

.r5_cocktails .menu .item-image img {
  width: 150px;
  height: 150px;
}

.r5_menu_02_landscape .type-05 .image-cell {
  margin: 0 auto;
}

.r5_menu_02_landscape .type-05 .menuTitle {
  margin-bottom: 21px;
}

.r5_menu_02_landscape .type-05 .menuAllegy {
  margin-bottom: 21px;
}

.r5_menu_01_portrait .itemGrid-B .menuTypeGroup .menuOption {
  justify-content: flex-end;
}

.r5_menu_01_portrait .itemGrid-C .menuInfo .menuExplain {
  margin-top: 5px;
}

.r5_menu_01_portrait .itemGrid-C .menuInfo .menuAllegy {
  margin-top: 5px;
}

.r5_menu_01_portrait .itemGrid-B .menuTypeGroup .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_03_portrait .itemGrid-B .menuTypeGroup .menuOption {
  justify-content: flex-end;
}

.r5_menu_03_portrait .itemGrid-B .menuTypeGroup .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_03_portrait .itemGrid-C .menuTypeGroup .menuOption {
  justify-content: center;
}

.r5_menu_03_portrait .itemGrid-C .menuTypeGroup .kcal_option {
  align-items: center;
}

.r5_menu_41_landscape .type-05 .image-cell {
  margin: 22px auto 0 auto;
}

.r5_menu_41_landscape .type-05 .menuTitle {
  margin-bottom: 12px;
  margin-top: -28px;
}

.r5_menu_41_landscape .menuTypeGroup {
  display: flex;
  gap: 18px;
}

.r5_menu_41_landscape #editorItem6 {
  border: 1px solid #000;
}

.r5_menu_41_landscape #editorItem6 .menuTypeGroup {
  width: 100%;
  height: 100%;
  display: block;
}

.r5_menu_41_landscape #editorItem6 .itemGrid-B {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r5_menu_41_landscape #editorItem6 .menuInfo {
  width: 91px;
}

.r5_menu_41_landscape #editorItem6 .type-01 {
  margin-left: 51px;
}

.r5_menu_41_landscape #editorItem6 .type-01:nth-child(1) {
  margin-top: 118px;
}

.r5_menu_41_landscape #editorItem6 .type-01 .menuTitle{
  margin-top: 15px;
}

.r5_menu_41_landscape #editorItem6 .type-01 .kcal_option{
  align-items: center;
}