.container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.menu.reverse {
  flex-direction: row-reverse;
}

.section {
}

.section.others {
  display: flex;
  flex-direction: column;
}

.section .blue {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section .orange {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section .purple {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.item-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  flex: 1;
}

/* 이하 테마 스타일 영역 */

.r5_cocktails .menu {
  border: #3f552c solid 1px;
  border-left: #3f552c solid 15px;
}

.r5_cocktails .menu .item-name {
  margin-top: 10px;
}

.r5_cocktails .menu .item-image img {
  width: 150px;
  height: 150px;
}

.r5_menu_02_landscape.container {
  display: flex; 
  flex-direction: row;
  gap: 58px !important;
}

/* image-cell */
.r5_menu_02_landscape .menu .item-image {
  margin: 0 auto;
}

/* menuTitle */
.r5_menu_02_landscape .menu .item-name {
  margin-bottom: 21px;
  letter-spacing: -1px;
}

/* menuAllegy */
.r5_menu_02_landscape .menu .description {
  /* margin-bottom: 20px; */
}

/* menuAllegy */
.r5_menu_02_landscape .menu .allergy {
  margin-bottom: 21px;
}

.r5_menu_01_portrait .menuTypeGroup .menuItem.type-03 {
  grid-template-columns: 1fr 120px;
  margin-top: 9.45px;
}

.r5_menu_01_portrait .menuTypeGroup .menuItem.type-03:first-child {
  margin-top: 0;
}

.r5_menu_01_portrait .menuTypeGroup .menuItem.type-05 + .menuItem {
  margin-top: 0;
}

.r5_menu_01_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_01_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_01_portrait .itemGrid-C .menuInfo .menuExplain {
  margin-top: 5px;
}

.r5_menu_01_portrait .itemGrid-C .menuInfo .menuAllegy {
  margin-top: 5px;
}

.r5_menu_02_portrait .menuItem + .menuItem {
  margin-top: 15.14px;
}

.r5_menu_02_portrait .itemGrid-B .menuInfo {
  margin-top: 8px;
}

.r5_menu_02_portrait .itemGrid-C .kcal_option .kcal-right {
  margin-left: 8px;
}

.r5_menu_03_portrait .menuTypeGroup .menuItem.type-03 {
  grid-template-columns: 1fr 120px;
}

.r5_menu_03_portrait .menuItem + .menuItem {
  margin-top: 39px;
}

.r5_menu_03_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_03_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_03_portrait .itemGrid-C .menuOption {
  justify-content: center;
}

.r5_menu_03_portrait .itemGrid-C .kcal_option {
  align-items: center;
}

.r5_menu_03_portrait .itemGrid-C .menuExplain {
  margin-top: 5.69px;
}

.r5_menu_03_portrait .itemGrid-C .menuAllegy {
  margin-top: 7.56px;
}

.r5_menu_04_portrait .itemGrid-B .menuTitle {
  margin-top: 26px;
}

.r5_menu_04_portrait .itemGrid-B .menuExplain {
  margin-top: 21px;
}

.r5_menu_04_portrait .itemGrid-B .menuAllegy {
  margin-top: 4.51px;
}

.r5_menu_04_portrait .itemGrid-C .size_option {
  margin-top: 20px;
}

.r5_menu_04_portrait .itemGrid-C .kcal-right {
  margin-top: 4.86px;
}

.r5_menu_04_portrait .itemGrid-C .menuOption {
  justify-content: center;
}

.r5_menu_04_portrait .itemGrid-C .menuOption .kcal_option {
  align-items: center;
}

.r5_menu_05_portrait .menuTypeGroup .itemGrid.type-03 {
  grid-template-columns: 1fr 100px;
  margin-top: 7.5px;
}

.r5_menu_05_portrait .menuTypeGroup .itemGrid.type-03:first-child {
  margin-top: 0;
}

.r5_menu_05_portrait .itemGrid-C .menuAllegy {
  margin-top: 7px;
}

.r5_menu_05_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_05_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_06_portrait .menuTypeGroup .menuItem.type-03 {
  grid-template-columns: 1fr 150px;
  margin-top: 7.33px;
}

.r5_menu_06_portrait .menuTypeGroup .menuItem.type-03:first-child {
  margin-top: 0;
}

.r5_menu_06_portrait .itemGrid-C .menuAllegy {
  margin-top: 4px;
}

.r5_menu_06_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_06_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_06_portrait .itemGrid-B .menuOption .kcal-right {
  margin: 9.2px 0 0 10px;
}

.r5_menu_07_portrait .menuTypeGroup .menuItem.type-03 {
  grid-template-columns: 1fr 100px;
  margin-top: 29.29px;
  padding-top: 14px;
}

.r5_menu_07_portrait .menuTypeGroup .menuItem.type-03:first-child {
  margin-top: 0;
}

.r5_menu_07_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_07_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_07_portrait .itemGrid-C .menuExplain {
  margin-top: 9px;
}

.r5_menu_07_portrait .itemGrid-C .menuAllegy {
  margin-top: 4px;
}

.r5_menu_08_portrait .menuTypeGroup .menuItem.type-03 {
  grid-template-columns: 1fr 150px;
  margin-top: 20px;
  padding-top: 14px;
}

.r5_menu_08_portrait .menuTypeGroup .menuItem.type-03:first-child {
  margin-top: 0;
}

.r5_menu_08_portrait .itemGrid-B .menuOption {
  justify-content: flex-end;
}

.r5_menu_08_portrait .itemGrid-B .menuOption .kcal_option {
  align-items: flex-end;
}

.r5_menu_41_landscape .type-05 .image-cell {
  margin: 22px auto 0 auto;
}

.r5_menu_41_landscape .type-05 .menuTitle {
  margin-bottom: 12px;
  margin-top: -28px;
}

.r5_menu_41_landscape .menuTypeGroup {
  display: flex;
  gap: 18px;
}

.r5_menu_41_landscape #editorItem6 {
  border: 1px solid #000;
}

.r5_menu_41_landscape #editorItem6 .menuTypeGroup {
  width: 100%;
  height: 100%;
  display: block;
}

.r5_menu_41_landscape #editorItem6 .itemGrid-B {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r5_menu_41_landscape #editorItem6 .menuInfo {
  width: 91px;
}

.r5_menu_41_landscape #editorItem6 .type-01 {
  margin-left: 51px;
}

.r5_menu_41_landscape #editorItem6 .type-01:nth-child(1) {
  margin-top: 118px;
}

.r5_menu_41_landscape #editorItem6 .type-01 .menuTitle{
  margin-top: 15px;
}

.r5_menu_41_landscape #editorItem6 .type-01 .kcal_option{
  align-items: center;
}